* {
  box-sizing: border-box;
}

body {
  /* Grid with three defined rows on body*/
  display: grid;
  grid-template-rows: 48px auto 48px; /* 'auto' takes as much space as it is left */
  height: 100vh; /* Need to specify a height */
}
