* {
  box-sizing: border-box;
}

body {
  background-color: #181a1c;
  color: #ecebed;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  /* Grid with three defined rows on body*/
  display: grid;
  grid-template-rows: auto auto 88px; /* 'auto' takes as much space as it is left */
  height: 100vh; /* Need to specify a height */
  margin: 0 auto;
  gap: 12px;
  position: relative;
}

h1 {
  font-size: large;
}

nav {
  display: flex;
  grid-auto-flow: row;
}

.scrolling {
  overflow-y: auto; /* This enables scrolling on main */
  margin-left: 24px;
}
