/* Header Newsfeed */
.header__newsfeed {
  height: 32px;
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.header__message {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #727477;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__notification-point {
  height: 6px;
  width: 6px;
  background-color: #f62e8e;
  border: 1.2px solid #ffff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 6px;
}

/* Header Search */

.header__search {
  height: auto;
  width: 327px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  position: relative;
}

.header__search--input {
  background: #323436;
  border-radius: 32px;
  height: 44px;
  width: 327px;
}

::placeholder {
  color: white;
  padding-left: 16px;
}

.header__search--icon {
  position: absolute;
  right: 15px;
  top: 10px;
}

.header__search--title {
  margin-top: 24px;
  color: white;
}

.header__search--categories {
  height: 32px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: smaller;
}

.header__search--categories li {
  border: 1px solid #727477;
  border-radius: 18px;
  padding: 6px 10px;
}

li:first-child {
  background-color: #2e8af6;
  font-weight: bold;
}
