.storyfeed {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #727477;
  padding-bottom: 24px;
}

.storyfeed__picture {
  display: block;
  height: 140px;
  width: 100px;
  position: relative;
}

.storyfeed__picture-radius {
  border-radius: 16px;
}

.storyfeed__profilpicture {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: absolute;
  top: 96px;
  left: 30px;
}

.storyfeed__profilpicture--background {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(90deg, #f72e8e 0%, #ac1af0 102.84%);
  display: flex;
  align-items: center;
  justify-content: center;
}
